<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSectionTitle-text">
      <%= section_title %>
    </h2>
    <h2 class="TodoSectionTitle-count">
      <%= todos.completed.count%>/<%= todos.count%>
    </h2>
  </div>
  <ul class="Todo-UnorderedList">
    <% todos.all.each do |todo| %>
      <li class="TodoItem">
        <div class="TodoItem-container">
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
            <input
              class="TodoItem-checkbox"
              name="completed"
              type="checkbox" <%= todo.completed ? "checked" : ""%>
              onclick=this.form.submit()
              />
          <% end%>
          <p style='<%= todo.completed ? "text-decoration: line-through" : ""%>'>
          <%= todo.todo_text%></p>
          <p class="TodoItem-duedate">
            <% if show_due_date%>
              <%= todo.due_date.to_s(:short)%>
            <% end%>
          </p>
          <img class="TodoItem-delete" src="delete.svg">
        </div>
      </li>
    <% end%>
  </ul>
</section>
